@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: #1f2235;
  color: #a9a9a9;
}

*{
  /* outline : 1px solid red; */
}

@layer utils {
  @keyframes blinker {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    
  }
  .animate-blinker {
    animation: blinker 0.8s step-end infinite
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }

  }
  .animate-loading-bar {
    animation: loading 0.8s ease infinite
  }
}