@import "tailwindcss";

:root {
  --color-primary: #828282;
  --color-accent: #82002b;
  --color-accent-dark: #b88c8c;
  --color-secondary: #2b2e4a;
  --color-bg: #1f2235;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: var(--color-bg);
  color: var(--color-primary);
}

/* * {
  outline : 1px solid red;
} */

@layer utils {
  @keyframes blinker {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  .animate-blinker {
    animation: blinker 0.8s step-end infinite;
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }
  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}
